.loginForm {
  padding: 2rem 1.5rem;
  width: 100%;
  max-width: 19rem !important;
  position: relative;
}

.loginMessage {
  color: rgb(238, 0, 0);
}

.loginErrorMessage {
  position: absolute;
  bottom: -4rem;
  left: 0;
  right: 0;
}

.userMenuRole {
  font-size: 0.8rem;
}

.userMenuUserName {
  font-size: 1rem;
}

.imageContent {
  font-size: 5rem;
  overflow: visible !important;
}

.sapMImageContentImageIcon {
  font-size: inherit !important;
  position: absolute;
  top: 0;
}

.tableActionButton .sapMBtnInner,
.tableActionButton .sapMBtnInner.sapMBtnReject {
  border: 0;
  border-radius: 50%;
  background-color: transparent;
}
.tableActionButton {
  margin-left: 0.06rem;
}

.manageUsersError {
  max-width: 30rem;
}

.reportTitle {
  display: flex;
}

.sapFDynamicPageContentFitContainer {
  /*padding: 1rem 0 0 0 !important;*/
}

.reporteControl {
  /*width: 21rem;*/
  flex: 1 !important;
  /*width: 33% !important;*/
}

.reporteHeader {
  padding-top: 0 !important;
}

.valueYellow {
  color: yellow;
}

.valueRed {
  color: red;
}

.valueGreen {
  color: green;
}